.container-fluid {
    max-width: 1300px !important;
}
.sprite{background:orange;}
.dropdown-menu, .shadow, .btn, .bg-danger, .modal-header {

    border: 0 !important;

}
.btn{font-weight: 500}

body {
    font-family: 'Roboto', sans-serif;
background: transparent !important;
}

.full {

    background: url(../../public/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*{line-height: 1.5rem}
.modal-header {
    background: #d9534f !important;
}

.modal-header h2 {
    margin: 0 !important;
    color: #fff !important;
}

h2 {
    color: #d9534f !important;
    font-size: 1.25rem !important;
    margin: 1rem 0 !important;
}

.col-md-3 {
    background: white;
    padding: 0 1rem;
}
.row{}
/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
    animation: fadein 0.5s, fadeout 0.5s 1s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.tab-content{border:0 !important;}

.toppings_btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center !important;
    border-radius: 0 !important;
}

input, textarea, select {
    border-radius: 0 !important;
    border: 1px solid #dadada !important;
    margin-bottom: .5rem !important;
}

.fab {
    border: none;
    font-size: 1em;
    color: white;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
    background-color: #ff4060;
}

.fixed-action-btn {
    position: fixed;
    right: 20px;
    bottom: 10px !important;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.red {
    border: 2px solid red !important;
}

.cursor-pointer {
    cursor: pointer; /* stop removing this */
}

a:focus, .btn:focus,button {
    outline: none !important;
    outline: 0;
}
.dont-show{display: none;}
.addon-selected, .thisside {
    background: #d9534f !important;
    border-color: #d9534f !important;
}
.btn{border:0 !important;}
/*

.modal-backdrop.fade {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.card{border:0 !important;}
.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.btn-block + .btn-block {
    margin: 0 !important;
}



.center{
    display: table;
    margin: 0 auto;
}

.text-center{
    text-align:center;
}

.editprofilediv {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}


.addonlist {
    background: #fff;
    width: 100%;
}

#removelist{
    width: 100%;
}

*/

.sprite {
    background-image: url('../../public/grid3.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-right: .5rem;
    display: inline-block;
}

.sprite-pizza {
    background-position: 0px 0px;
}

.sprite-salad {
    background-position: -96px 0px;
}

.sprite-dips {
    background-position: -768px 0px;
}

.sprite-wings {
    background-position: -480px 0px;
}

.sprite-drinks {
    background-position: -1056px 0px;
}

.sprite-panzerotti {
    background-position: -288px 0px;
}

.sprite-garlic-bread {
    background-position: -864px 0px;
}

.sprite-french-fries {
    background-position: -960px 0px;
}

.sprite-potato-wedges {
    background-position: -192px 0px;
}

.sprite-onion-rings {
    background-position: -384px 0px;
}

.sprite-chicken-nuggets {
    background-position: -1152px 0px;
}

.sprite-lasagna {
    background-position: -672px 0px;
}

.sprite-veggie-sticks {
    background-position: -1248px 0px;
}

.sprite-salad {
    background-position: -96px 0px;
}

.sprite-2_for_1_pizza {
    background-position: -576px 0px;
}

.sprite-medium {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}















































