
.btn {
    text-transform: uppercase;
    border:0 !important;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #efefef !important;

}

.full {
    /*
    background: url(../../public/background.jpg) no-repeat center center fixed;
    */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal-header {
    background: #d9534f !important;
}

.modal-header h2 {
    margin: 0 !important;
    color: #fff !important;
}

h2 {
    color: #d9534f !important;
    font-weight: bold;
    font-size: 1rem !important;
    margin: 1.5rem 0 .25rem 0 !important;
}

.pad5 {
    margin-right: 5px;
}

* {
    line-height: 1rem !important;
}

.red {
    border: 2px solid red !important;
}

.cursor-pointer {
    /*
    cursor: pointer;
    */
    /* stop removing this */
}

.addon-selected, .thisside {
    background: #d9534f !important;
    border-color: transparent !important;
}

.sprite {
    background-image: url('../../public/menu/grid3.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-right: .5rem;
    display: inline-block;
}

.sprite-pizza {
    background-position: 0px 0px;
}

.sprite-salad {
    background-position: -96px 0px;
}

.sprite-dips {
    background-position: -768px 0px;
}

.sprite-wings {
    background-position: -480px 0px;
}

.sprite-drinks {
    background-position: -1056px 0px;
}

.sprite-panzerotti {
    background-position: -288px 0px;
}

.sprite-garlic-bread {
    background-position: -864px 0px;
}

.sprite-french-fries {
    background-position: -960px 0px;
}

.sprite-potato-wedges {
    background-position: -192px 0px;
}

.sprite-onion-rings {
    background-position: -384px 0px;
}

.sprite-chicken-nuggets {
    background-position: -1152px 0px;
}

.sprite-lasagna {
    background-position: -672px 0px;
}

.sprite-veggie-sticks {
    background-position: -1248px 0px;
}

.sprite-salad {
    background-position: -96px 0px;
}

.sprite-241_pizza {
    background-position: -576px 0px;
}

.sprite-medium {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

.toppings_btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center !important;
    border-radius: 0 !important;
}

input, textarea, select {
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    margin-bottom: -1px !important;

}

input {
    padding-left: 1rem !important;
}

.fab {
    border: none;
    font-size: 1em;
    color: white;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
    background-color: #ff4060;
}

.fixed-action-btn {
    position: fixed;
    right: 20px;
    bottom: 10px !important;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.c-rays {
    width: 100%;
    padding-top: 40%;
    position: relative;
    overflow: hidden
}

@media (min-width: 48em) {
    .c-rays {
        padding-top: 23.5%
    }
}

.c-rays svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

@media (min-width: 48em) {
    .c-rays svg {
        min-width: 100%
    }
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {

    overflow: hidden;

}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}
.bg-secondary{border-radius: 0 !important;}
.container-fluid {
    max-width: 1300px !important;
}

.dropdown-menu,.shadow ,.modal-header, nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.col-md-3{background: white;}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

a:focus, .btn:focus, button {
    outline: none !important;
    outline: 0;
}

.dont-show {
    display: none;
}

