.addon-addon {
    text-align: left;
}

button,button:focus,*:focus {
    outline: none !important;
}

.btn:focus {
    outline: none !important;
}

*{
    text-decoration: none !important
}

.btn-sm {
    padding: .5rem .25rem;
    border: 0;
}

.radius0 {
    border-radius: 0;
    border: 0;
}

.toppings_btn {
    background: white;
    border: 1px solid #eceeef !important;
}

.addon-selected, .thisside {
    background: #0275d8 !important;
    color: white;
}

.sprite {
    background-image: url('../../public/images/grid.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-left: .25rem !important;
    margin-right: .5rem !important;
}

.width15 {
    width: 15%;
    text-align: right
}

.width85 {
    width: 85%;
}

.width-full {
    width: 100%;
}

button {
    background: transparent;
}

.list-group-item, .modal-header, .list-group-item-padding {
    padding: .25rem .50rem !important;
    border-radius: 0 !important;
    min-height: 53px;
    border: 0 !important;
    /*
        border-right: 1px solid #eceeef !important;
        border-bottom: 1px solid #eceeef !important;
    */
}
.modal-header{
    padding-bottom: 0 !important;
}

.addonlist {
    width: 100%
}

.payfororder {
    border-radius: 0;
}

.bg-secondary {
    background: #e7e7e7;
}

.btn-sm-padding-left, .modal-body {
    padding: .25rem .5rem !important;
}

.btn-sm-padding {
    padding: .25rem .5rem !important;

}

h2 {
    font-size: 1rem !important;
    line-height: 1rem !important;
    padding: 0 !important;
    margin: .5rem 0 !important;
}

.text-transparent {
    color: transparent;
}

.icon-width {
    width: 24px;
    text-align: center;
}

.container-fluid {
    max-width: 1400px !important;
}

.dropdown-menu {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body {
    /*  prevents horizontal scroll for full width container-fluid */
    overflow-x: hidden;
    color: #373a3c;
    font-family: 'Roboto', sans-serif;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    background: #e7e7e7 !important;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

.form-control {
    background: transparent;

}

.full {
    /*
    background: url(../../public/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

.text-normal {
    color: #373a3c !important;
}

.red, input:invalid, select:invalid, textarea:invalid {
    /*
        border-bottom: 1px solid #d9534f !important;
    */
}

.error {
    color: #d9534f !important
}

.cursor-pointer, .btn, button {
    /* !!!!!!!!!!!!!stop removing this!!!!!!!!!!!! */
    cursor: pointer;
    /* !!!!!!!!!!!!!stop removing this!!!!!!!!!!!! */
}

.nowrap {
    white-space: nowrap;
}

.z-index-9999 {
    z-index: 9999;
}

.card-columns {
    column-gap: .01rem !important;
    column-count: 3 !important;
}

.modal-content {
    background: #eceeef;
    border-radius: 0 !important;
    border: 0 !important;
}

.receipt-addons {
    padding: .5rem 0rem;
    cursor: pointer;
    width: 100% !important;
    float: left;
}

.receipt-addons-list {
    height: 220px;
    overflow-y: auto;
    overflow-x: auto;
}

.halfwidth {
    width: 50%;
    float: left !important;
    display: inline !important;
}

.thirdwidth {
    width: 33.33%;
    float: left !important;
    display: inline !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #111;
}

.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
    padding: .75rem;
}

.londonpizza {
    font-weight: 800;
    padding-top: 3px;
}

@media screen and (max-width: 400px) {
    .modal.modal-fullscreen .modal-dialog,
    .modal.modal-fullscreen .modal-content {

        border: white !important;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding: 0rem;
}

@media screen and (max-width: 400px) {
    .modal-dialog {
        margin: 0 !important;
    }
}

.clearfix {
    clear: both !important;
}

#newvalues, #oldvalues {
    color:white;
    padding-right: 10px;
    padding-top: 6px;
    text-align: right;
}

.white{
    color:white;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen{
    position: fixed;
    top: 0;  left: 0;
    width: 100%; height: 100%;
}

.grey-backdrop{
    background:rgba(128,128,128,0.75);
}
.firefox-child{
    width: 25%; height: 25%;
    padding: 4px 8px;
}
.bg-white{
    background-color: white
}
.btn-full{
    position: absolute;
    bottom: 0px; left: 0px; width: 100% !important;
}