























.width15 {
    width: 15%;
    text-align: right
}

.width85 {
    width: 85%;
}

.list-group-item {
    padding: .25rem .5rem !important;
}
.col-lg-3{


    padding:.50rem .5rem !important;
}


h2 {
    color: #d9534f !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
    padding:0 !important;
    margin: .5rem 0 !important;
}
.text-normal{color: #373a3c !important;}
.modal-header {
background-color: #d9534f!important;
}
.modal-header >h2{
    color:white !important;
}
.bg-secondary {
}

.icon-width {
    width: 24px;
    text-align: center;
}

.receipt_itemcost {
}

.addon-addon {
    border: 0;
    text-align: left;
    border-radius: 0;
}

body {
    /*  prevents horizontal scroll for full width container-fluid */
    overflow-x: hidden;
    color: #373a3c;
    font-family: 'Roboto', sans-serif;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    background: #dadada !important;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

.full {
    /*
    background: url(../../public/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

.red, input:invalid, select:invalid, textarea:invalid{
    border-bottom: 1px solid #d9534f !important;
}

.error {
    color: #d9534f !important
}

.cursor-pointer, .btn, .list-group-item {
    /* !!!!!!!!!!!!!stop removing this!!!!!!!!!!!! */
    cursor: pointer;
    /* !!!!!!!!!!!!!stop removing this!!!!!!!!!!!! */
}

.toppings_btn {
    /*
    overflow: hidden;
    white-space: nowrap;
    */       overflow: hidden;
padding:.25rem .1rem;
    text-align: left !important;
    border-radius: 0 !important;
    border: 1px solid #efefef;
}

.nowrap {
    white-space: nowrap;
}

.card-columns .card {

}

.card-columns {

}

.float-right {
    float: right;
}

.padding-bottom-5em {

}

.z-index-9999 {
    z-index: 9999;
}

.white {

}

.padding-right-0 {

}

.padding-top-0 {

}

.small-margin {

}

.padding-top-45rem {

}

.margin-x-10px {

}

.bold {

}

.fontsize-1p25rem {

}

.fontsize-5rem {

}

.margin-bottom-1rem {

}

.width-full {

}

.margin-top-15px {

}

.receipt-itemname {

}

.receipt-empty {

}

.topping_button {

}

.receipt-addons {
    cursor: pointer;
    border: 1px solid #dadada;
    border-radius: .2rem;
    padding: .25rem .25rem;
    width: 100% !important;
    float: left;
}

.receipt-addons:hover {

}

.receipt-addons-list {
    background: #efefef;
    height: 190px;
    overflow-y: auto;
    overflow-x: auto;
}

.card-columns {
    /*
    column-gap: .01rem !important;
*/
    column-count: 3 !important;
}

.modal-content {
    border: 5px solid #dadada;
}

.container-fluid {
    max-width: 1400px !important;
}

.dropdown-menu {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bg-white {
    background-color: #fff !important;
}

.bg-black {
    background-color: #111;
}

.col-md-3 {
    background: white;
}

.addon-selected, .thisside {
    background: #999 !important;
}

.myorderhr {
    border: 0;
    margin-bottom: 0;
}

.halfwidth {
    width: 50%;
    float: left !important;
    display: inline !important;
}

.thirdwidth {
    width: 33.33%;
    float: left !important;
    display: inline !important;
}

.payfororder {

}

.addonlist {

}

.receipt_item > .receipt_itemcost, .receipt_item > .pull-right {

}

.receipt_item > .btn {
    padding-top: 4px !important;
    height: 25px !important;
    margin-top: 6px;
}

.navbar {
    z-index: 1;
}

.padding1rem {

}

.londonpizza {
    font-weight: 800;
    padding-top: 3px;
}

.empty-shopping-cart {

}

.flat-border {

}

.pull-center {

}

@media screen and (max-width: 400px) {
    .modal.modal-fullscreen .modal-dialog,
    .modal.modal-fullscreen .modal-content {
        /*
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        */
    }
}

.col-lg-3 {

}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {

}

.sprite {
    background-image: url('../../public/images/grid.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-right: 20px;
}






































