.icon-width{
    width:24px;text-align:center;
}
.list-group-item{padding:.25rem 0;border:0}
full {
    /*
            background: url(../../public/images/background.jpg) no-repeat center center fixed;
    */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
hr{
    margin-bottom:0;
    margin-top:.55rem;
}

body {

    /*  prevents horizontal scroll for full width container-fluid */
    overflow-x: hidden;
    color: #373a3c;
    background: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    background: transparent;
    background: #404040;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

h2 {
    color: #d9534f !important;
    font-weight: bold;
    font-size: 1rem !important;
    margin: 1rem 0 .25rem 0 !important;
}

.red {
    border: 1px solid red !important;
}

.error {
    color: red
}

.cursor-pointer,.btn, .list-group-item {
    /* !!!!!!!!!!!!!stop removing this!!!!!!!!!!!! */
    cursor: pointer;
    /* !!!!!!!!!!!!!stop removing this!!!!!!!!!!!! */
}

.sprite {
    background-image: url('../../public/images/grid.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-right: .5rem;
    display: inline-block;
}

.sprite-none {
    background-position: 110px 110px;
}

.sprite-pizza {
    background-position: 0px 0px;
}

.sprite-salad {
    background-position: -96px 0px;
}

.sprite-potato-wedges {
    background-position: -192px 0px;
}

.sprite-panzerotti {
    background-position: -288px 0px;
}

.sprite-onion-rings {
    background-position: -384px 0px;
}

.sprite-wings {
    background-position: -480px 0px;
}

.sprite-241_pizza {
    background-position: -576px 0px;
}

.sprite-lasagna {
    background-position: -672px 0px;
}

.sprite-dips {
    background-position: -768px 0px;
}

.sprite-garlic-bread {
    background-position: -864px 0px;
}

.sprite-french-fries {
    background-position: -960px 0px;
}

.sprite-drinks {
    background-position: -1056px 0px;
}

.sprite-chicken-nuggets {
    background-position: -1152px 0px;
}

.sprite-veggie-sticks {
    background-position: -1248px 0px;
}

.sprite-pepsi {
    background-position: -1344px 0px;
}

.sprite-diet-pepsi {
    background-position: -1440px 0px;
}

.sprite-2l-sprite {
    background-position: -1536px 0px;
}

.sprite-sprite {
    background-position: -1632px 0px;
}

.sprite-water-bottle {
    background-position: -1728px 0px;
}

.sprite-2l-coca-cola {
    background-position: -1824px 0px;
}

.sprite-crush-orange {
    background-position: -1920px 0px;
}

.sprite-ginger-ale {
    background-position: -2016px 0px;
}

.sprite-diet-coca-cola {
    background-position: -2112px 0px;
}

.sprite-nestea {
    background-position: -2208px 0px;
}

.sprite-2l-brisk-iced-tea {
    background-position: -2304px 0px;
}

.sprite-dr-pepper {
    background-position: -2400px 0px;
}

.sprite-medium {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

.modal-header {
    background: #d9534f !important;
}

.modal-header h2 {
    margin: 0 !important;
    color: #fff !important;
}

.toppings_btn {
    border-left: 5px solid yellow;
    /*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    */
    text-align: left !important;
    border-radius: 0 !important;
    border: 0 !important;
}

.card-columns .card {

    margin-bottom: 0 !important;
}

input, textarea, select {
    border: 1px solid #ddd !important;
    margin-bottom: -1px !important;
    border-radius: 0 !important;
}

.float-right {
    float: right;
}

.padding-bottom-5em {
    padding-bottom: .5rem !important;
}

.z-index-9999 {
    z-index: 9999;
}

.white {
    color: white !important;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.small-margin {
    margin: 0 0 1rem 0 !important;
}

.sticky-footer {
    bottom: 45px;
    right: 10px;
}

.padding-top-45rem {
    padding-top: .45rem !important;
}

.margin-x-10px {
    margin-left: 10px;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.fontsize-1p25rem {
    font-size: 1.25rem;
}

.fontsize-5rem {
    font-size: 5rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem !important;
}

.width-full {
    width: 100%;
}

.margin-top-15px {
    margin-top: 15px;
}

.receipt-itemname {
    margin-top: 1px;
    padding: 8px 2px !important;
}

.receipt-empty {
    color: #d9534f !important;
}

.receipt-addons {
    margin-bottom: 10px;
    border: 1px solid #dadada;
    border-radius: .2rem;
    padding: .25rem .25rem;
    width: 100% !important;
    float: left;
}

.receipt-addons-list {
    background: #efefef;
    height: 150px;
    overflow-y: auto;
    overflow-x: auto;
    overflow-x: auto;
    padding: 5px;
}

.card-columns {
    column-count: 3 !important;
}

.card {
    border: 0
}

input {
    padding-left: 1rem !important;
}

.fab {
    border: none;
    font-size: 1em;
    color: white;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
    background-color: #ff4060;
}

.fixed-action-btn {
    position: fixed;
    right: 20px;
    bottom: 10px !important;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.c-rays {
    width: 100%;
    padding-top: 40%;
    position: relative;
    overflow: hidden
}

@media (min-width: 48em) {
    .c-rays {
        padding-top: 23.5%
    }
}

.c-rays svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

@media (min-width: 48em) {
    .c-rays svg {
        min-width: 100%
    }
}

.loader {
    visibility: hidden;
    background-color: #000;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: .7;
}

.loader:after {
    z-index: 10001;
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 5px;
    background-color: #023fd8;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

/************************************ end loader */

/************************************ fade in */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/************************************ end fade in */

.bg-secondary {
    border-radius: 0 !important;
}

.container-fluid {
    max-width: 1300px !important;
}

.dropdown-menu{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.btn-black {
    color: #fff;
    background-color: #444;
    border-color: #444 ;
}
.bg-white {
    background-color: #fff;
}.bg-black {
     background-color: #444;
 }

.col-md-3 {

    background: white;



    border-right: 1px solid rgba(0,0,0,.1);
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

a:focus, .btn:focus, button,.btn {
    outline: none !important;
    outline: 0;
}

.dont-show {
    display: none;
}

.addon-selected, .thisside {
    background: #dadada !important;
    border-color: transparent !important;
}

/*
@media screen and (max-width: 400px) {
    .modal-dialog {
        margin: 0 !important;
    }

    .main-bg-image {

        padding: 2rem 0 3rem 0 !important;
    }

    .pading-left-mobile {
        padding-left: .9rem !important;
    }

    .row, .container, .modal-image {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card, .list-group-item {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .worksImg {
        padding-right: 6px;
        padding-bottom: 3px !important;
        float: left
    }

    .bigBlt {
        line-height: 1.15 !important;
        margin-top: 0px !important
    }

    .mobile-p-r-0 {
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 768px) {

    body {
        margin-top: 45px !important;
    }

    h1 {
        font-size: 1.3rem !important;
    }

    h2 {
        font-size: 1.3rem !important;
    }

    h3 {
        font-size: 1.30rem !important;
    }

    h4 {
        font-size: 1.25rem !important;
    }

    h5 {
        font-size: 1rem !important;
    }

    h6 {
        font-size: 1.15rem !important;
    }

    .navbar {
        padding: 0rem;
    }

    .list-group, .list-group-item, .card {
        border-radius: 0 !important;
    }

    .worksImg {
        padding-right: 8px;
        padding-bottom: 2px !important;
        float: left
    }

    .bigBlt {
        line-height: 1.25 !important;
        margin-top: 0px !important
    }

}








*/





