h1,h2,h3,h4,h5,h6{
    padding:.5rem 0 !important;
    margin: 0 !important;
}
.navbar{padding: .5rem 0 !important;}

.dont-show {
    display: none;
}
.navbar-brand{font-size: 1rem !important;padding: 0 !important;}
* {
    border-radius: 0 !important;
    border: 0 !important;
    line-height: 1rem !important;
box-shadow: none !important;
}
.modal-content {
    background-color: #1d1d1d;
    color: white;
}
input, select, option{
    background-color: #1d1d1d !important;
    padding:.25rem 0 !important;

}
.btn {
    margin: 0 !important;
}

.card-block, .card {
    box-shadow: none !important;
    padding: 0 !important;
}

.form-control {
    padding: 0 !important;
    margin: 0 !important;
}

.sprite {
    background-image: url('grid.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-right: .2rem;
    display: inline-block;
}

.sprite-dips {
    background-position: -0px -0px;
}

.sprite-wings {
    background-position: -66px -0px;
}

.sprite-drinks {
    background-position: -132px -0px;
}

.sprite-panzerotti {
    background-position: 0px -66px;
}

.sprite-pizza {
    background-position: -66px -66px;
}

.sprite-sides {
    background-position: -132px -66px;
}

.sprite-medium {
    zoom: 0.30;
    -moz-transform: scale(0.30);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}



.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

/*

.cursor-pointer {
    cursor: pointer;
}



.btn {
    position: relative;
    overflow: hidden
}
.list-group-item{
    background:transparent !important;
}

html, body {
    line-height: 1rem !important;
}

.form-control {
    padding: 0 !important;
}
.btn{margin: 0 !important;}
.form-control:focus {

}

.modal-content {
    background-color: #1d1d1d;
}

.close{color:white !important;}
.modal-body{

    color:white;
}
.row {
    overflow: hidden;
}

[class*="col-"] {

}

.card-block {

}

@media (min-width: 14em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

input, select {
    border-radius: 0 !important;
    colo:white;
}

select {
    padding: .5rem !important;
}

.dont-show {
    display: none !important;
}


*/