input[type="text"], input[type="date"], input[type="email"], input[type="tel"], input[type="password"], textarea, select {
    border: 0 !important;
    border-bottom: 1px solid #eceeef !important;
    border-radius: 0 !important;
    color: #373a3c !important;

}

.btn-sm {
    overflow: hidden !important;

}

.modal-backdrop {
    opacity: .6 !important;
    background-color: black;
}

* {
border-radius:0 !important;
}

body {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.form-control {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.card-columns {
    column-count: 3;
    margin: 0 !important;
    padding: 0 !important;
}

.dont-show {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px;
}

@media screen and (max-width: 700px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
    .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    }
}

.sprite {
    background-image: url('grid.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-right: .5rem;
    display: inline-block;
}

.sprite-dips {
    background-position: -0px -0px;
}

.sprite-wings {
    background-position: -66px -0px;
}

.sprite-drinks {
    background-position: -132px -0px;
}

.sprite-panzerotti {
    background-position: 0px -66px;
}

.sprite-pizza {
    background-position: -66px -66px;
}

.sprite-sides {
    background-position: -132px -66px;
}

.sprite-medium {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

/* stop removing this!!!
- you cant hack this because everything has to be done properly like always using button tags
*/
.cursor-pointer {
    cursor: pointer;
}

.proper-height, .proper-height > select{
    height: 37px !important;
}