*{
    line-height: 1rem !important;
}
h1,h2,h3,h4,h5,h6{font-size: 1rem !important;}
.fab {
    border:none;
    font-size:1em;
    color:white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
    background-color: #ff4060;
}

.fixed-action-btn {
    position: fixed;
    right: 20px;
    bottom: 10px !important;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

@media (max-width: 44em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media screen and (max-width: 400px) {
    .modal-dialog {
        margin: 0 !important;
    }

    .row, .container, .modal-image {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card, .list-group-item {
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0rem;
    }

    .list-group, .list-group-item, .card {
        border-radius: 0 !important;
    }
}

.modal-backdrop.fade {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.btn-block+.btn-block{
    margin:0 !important;
}

.sprite {
    background-image: url('grid.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-right: .5rem;
    display: inline-block;
}

.sprite-dips {
    background-position: -0px -0px;
}

.sprite-wings {
    background-position: -66px -0px;
}

.sprite-drinks {
    background-position: -132px -0px;
}

.sprite-panzerotti {
    background-position: 0px -66px;
}

.sprite-pizza {
    background-position: -66px -66px;
}

.sprite-sides {
    background-position: -132px -66px;
}

.sprite-medium {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}
.dont-show {
    display: none;
}


.proper-height, .proper-height > select{
    height: 37px !important;
}

.red{
    border: 2px solid red !important;
}

.error{
    color:red;
}

.pull-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.menuitem{
    cursor: pointer;
    border: 0 !important;
    font-size: 75%
}