body {

    font-family: 'Roboto', sans-serif;
}

* {
    BACKGROUND: TRANSPARENT;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.75s, fadeout 0.75s 3.5s;
    animation: fadein 0.75s, fadeout 0.75s 3.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 20px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 20px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.toppings_btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center !important;
    border: 0 !important;
background: #dadada;
    border-radius: 0 !important;
}

.full {
    /* background: url(http://placehold.it/1920x1080) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input, textarea, select {
    border-radius: 0 !important;
    border: 1px solid #dadada !important;
    margin-bottom: .5rem !important;

}

.fab {
    border: none;
    font-size: 1em;
    color: white;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
    background-color: #ff4060;
}

.fixed-action-btn {
    position: fixed;
    right: 20px;
    bottom: 10px !important;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.modal-backdrop.fade {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.btn-block + .btn-block {
    margin: 0 !important;
}

.sprite {
    background-image: url('grid.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-right: .5rem;
    display: inline-block;
}

.sprite-dips {
    background-position: -0px -0px;
}

.sprite-wings {
    background-position: -66px -0px;
}

.sprite-drinks {
    background-position: -132px -0px;
}

.sprite-panzerotti {
    background-position: 0px -66px;
}

.sprite-pizza {
    background-position: -66px -66px;
}

.sprite-sides {
    background-position: -132px -66px;
}

.sprite-medium {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

.dont-show {
    display: none;
}

.red {
    border: 2px solid red !important;
}

.cursor-pointer {
    cursor: pointer; /* stop removing this */
}

.editprofilediv {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}

.addon-selected, .thisside {
    background: #dadada !important;
    border-color: #0275d8 !important;
}

.addonlist {
    background: #efefef;
}

/*
.addon-selected::before, .currentitem.thisside::before {
    font-family: FontAwesome;
    content: "\f0da  ";
    color:red;
}

.proper-height, .proper-height > select {
    height: 37px !important;
}

select.red {
    padding-top: 5px;
}

.pull-center {
    text-align: center;
}

*{padding:3px;}


input,select,textarea{
    border:1px solid green !important;
    background: #dadada !important;
}
div {
    border: 1px solid orange !important;
}

.row {
    border: 1px solid blue !important;
}

.col-* {
    border: 41px solid red !important;
}

table {
    border: 1px solid yellow !important;
}

tr {
    border: 1px solid pink !important;
}

td {
    border: 1px solid black !important;
}
*/
