.btn {
    position: relative;
    overflow: hidden
}
.list-group-item{
    background:transparent !important;
}
.btn:after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all .5s
}

.btn:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s
}

html, body {
    font-family: "Roboto Slab";
    width: 100%;
    height: 100%
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 !important;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none
}

.modal-content {
    background-color: #1d1d1d;
}

.modal-body{
    padding: 10px !important;color:white;
}
.row {
    overflow: hidden;
}

[class*="col-"] {

}

.card-block {

}

@media (min-width: 14em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

input, select {
    border-radius: 0 !important;
}

select {
    padding: .5rem !important;
}

.dont-show {
    display: none !important;
}

* {
    line-height: 1rem !important;
    font-size: .9rem !important;
    border: 0 !important;
    border-radius: 0 !important;

}

.sprite {
    background-image: url('grid.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;

    display: inline-block;
}

.sprite-dips {
    background-position: -0px -0px;
}

.sprite-wings {
    background-position: -66px -0px;
}

.sprite-drinks {
    background-position: -132px -0px;
}

.sprite-panzerotti {
    background-position: 0px -66px;
}

.sprite-pizza {
    background-position: -66px -66px;
}

.sprite-sides {
    background-position: -132px -66px;
}

.sprite-medium {
    zoom: 0.30;
    -moz-transform: scale(0.30);
    -moz-transform-origin: 0 0;
}

.sprite-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}

.sprite-tiny {
    zoom: 0.20;
    -moz-transform: scale(0.20);
    -moz-transform-origin: 0 0;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #loadingmodal {
    display: block;
    z-index: 999999;
}

.cursor-pointer {
    cursor: pointer;
}